<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form_con">
    <div>
      <strong>
        <div class="margin_bot_label" id="red"><%= form.label :title %>:</div>
        <div class="margin_bot_label" id="violet"><%= form.label :studio %>:</div>
        <div class="margin_bot_label" id="green"><%= form.label :category %>:</div>
        <div class="margin_bot_label" id="yellow"><%= form.label :author %>:</div>
        <div class="margin_bot_label" id="red"><%= form.label :image_url %>:</div>
        <div class="margin_bot_label" id="violet"><%= form.label :content %>:</div>
      </strong>
    </div>
    <div class="">
      <div class="margin_bot_field"><%= form.text_field :title %></div>
      <div class="margin_bot_field"><%= form.text_field :studio %></div>
      <div class="margin_bot_field"><%= form.text_field :category %></div>
      <div class="margin_bot_field"><%= form.text_field :author %></div>
      <div class="margin_bot_field"><%= form.text_field :image_url %></div>
      <div class="margin_bot_field"><%= form.text_area :content %></div>
    </div>
  </div>

  <div><%= form.submit %></div>
<% end %>
