<h1 id="blue">Editing: <%= @post.title %></h1>

<img src="<%= @post.image_url %>" class="img_banner" alt="image_url">

<%= render 'form', post: @post %>

<div class="action_show"><%= link_to 'Show', @post %> | <%= link_to 'Back', posts_path %></div>